In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv(r'C:\Users\Lenovo\Downloads\loan\loan.csv')

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
# Understanding the dimensions of the file
df.shape

(39717, 111)

In [5]:
#Understanding the columns and identifying number of missing values
100*df.isnull().mean()

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.098195
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 111, dtype: float64

In [6]:
#Dropping columns which have more than 40% missing values
df=df.dropna(thresh=0.4*df.shape[0],axis=1)

In [7]:
#Identifying unique values across all columns
df.nunique()

id                            39717
member_id                     39717
loan_amnt                       885
funded_amnt                    1041
funded_amnt_inv                8205
term                              2
int_rate                        371
installment                   15383
grade                             7
sub_grade                        35
emp_title                     28820
emp_length                       11
home_ownership                    5
annual_inc                     5318
verification_status               3
issue_d                          55
loan_status                       3
pymnt_plan                        1
url                           39717
desc                          26526
purpose                          14
title                         19615
zip_code                        823
addr_state                       50
dti                            2868
delinq_2yrs                      11
earliest_cr_line                526
inq_last_6mths                    9
open_acc                         40
pub_rec                           5
revol_bal                     21711
revol_util                     1089
total_acc                        82
initial_list_status               1
out_prncp                      1137
out_prncp_inv                  1138
total_pymnt                   37850
total_pymnt_inv               37518
total_rec_prncp                7976
total_rec_int                 35148
total_rec_late_fee             1356
recoveries                     4040
collection_recovery_fee        2616
last_pymnt_d                    101
last_pymnt_amnt               34930
last_credit_pull_d              106
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
pub_rec_bankruptcies              3
tax_liens                         1
dtype: int64

In [8]:
# Getting the shape of the dataframe
df.shape

(39717, 54)

In [9]:
# Check for the columns datatypes
df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
url                            object
desc                           object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [10]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [11]:
df2=pd.read_csv(r'C:\Raghu Documents\Upgrad\Data_Dictionary.csv')
df2

,LoanStatNew,Description,Unnamed: 2
0,acc_now_delinq,The number of accounts on which the borrower i...,NaN
1,acc_open_past_24mths,Number of trades opened in past 24 months.,NaN
2,addr_state,The state provided by the borrower in the loan...,NaN
3,all_util,Balance to credit limit on all trades,NaN
4,annual_inc,The self-reported annual income provided by th...,NaN
...,...,...,...
112,verification_status,"Indicates if income was verified by LC, not ve...",NaN
113,verified_status_joint,Indicates if the co-borrowers' joint income wa...,NaN
114,zip_code,The first 3 numbers of the zip code provided b...,NaN
115,NaN,NaN,NaN
116,NaN,* Employer Title replaces Employer Name for al...,NaN

In [12]:
#dropped since they just had one value
df=df.drop('delinq_amnt',axis=1)
df=df.drop('chargeoff_within_12_mths',axis=1)
df=df.drop('acc_now_delinq',axis=1)
df=df.drop('collections_12_mths_ex_med',axis=1)
df=df.drop('tax_liens',axis=1)
df=df.drop('policy_code',axis=1)
df=df.drop('application_type',axis=1)
df=df.drop('initial_list_status',axis=1)
df=df.drop('pymnt_plan',axis=1)

In [13]:
contvarlist=[]
chkcontvarlist=[]
for columns in df:
    if df[columns].nunique()>10 and (df[columns].dtype=='int64' or df[columns].dtype=='float64'):
        contvarlist.append(columns)
    elif df[columns].dtype=='int64' or df[columns].dtype=='float64':
        chkcontvarlist.append(columns)
    
print(contvarlist)
print('\n'+'_______________________________________________________________')
print(chkcontvarlist)

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'open_acc', 'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt']

_______________________________________________________________
['inq_last_6mths', 'pub_rec', 'pub_rec_bankruptcies']

In [14]:
catvarlist=[]
chkcatvarlist=[]
for columns in df:
    if df[columns].nunique()<20 and (df[columns].dtype=='object'):
        catvarlist.append(columns)
    elif df[columns].dtype=='object':
        chkcatvarlist.append(columns)

    
print(catvarlist)
print('\n'+'_______________________________________________________________')
print(chkcatvarlist)

['term', 'grade', 'emp_length', 'home_ownership', 'verification_status', 'loan_status', 'purpose']

_______________________________________________________________
['int_rate', 'sub_grade', 'emp_title', 'issue_d', 'url', 'desc', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'last_pymnt_d', 'last_credit_pull_d']

In [15]:
print(len(catvarlist))
print(len(contvarlist))

7
22

In [16]:
df3=pd.read_csv(r'C:\Raghu Documents\Upgrad\Data_Dictionary_2.csv')

In [17]:
for col in chkcontvarlist:
    for index,row in df2.iterrows():
            if row[0]==col:
                print("____________________________________"+"\n"+col+"---"+row[1]+"\n")
                print(df[col].value_counts())
                
print("-------------------Rejection stats------------------------")
for col in chkcontvarlist:
    for index,row1 in df3.iterrows():
            if row1[0]==col:
                print("____________________________________"+"\n"+col+"---"+row1[1]+"\n")
                print(df[col].value_counts())

____________________________________
inq_last_6mths---The number of inquiries in past 6 months (excluding auto and mortgage inquiries)

inq_last_6mths
0    19300
1    10971
2     5812
3     3048
4      326
5      146
6       64
7       35
8       15
Name: count, dtype: int64
____________________________________
pub_rec---Number of derogatory public records

pub_rec
0    37601
1     2056
2       51
3        7
4        2
Name: count, dtype: int64
____________________________________
pub_rec_bankruptcies---Number of public record bankruptcies

pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: count, dtype: int64
-------------------Rejection stats------------------------

In [18]:
df.shape

(39717, 45)

In [19]:
for col in chkcatvarlist:
    for index,row in df2.iterrows():
            if row[0]==col:
                print("____________________________________"+"\n"+col+"---"+row[1]+"\n")
                print(df[col].value_counts())
                
print("-------------------Rejection stats------------------------")
for col in chkcatvarlist:
    for index,row1 in df3.iterrows():
            if row1[0]==col:
                print("____________________________________"+"\n"+col+"---"+row1[1]+"\n")
                print(df[col].value_counts())

____________________________________
int_rate---Interest Rate on the loan

int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: count, Length: 371, dtype: int64
____________________________________
sub_grade---LC assigned loan subgrade

sub_grade
B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: count, dtype: int64
____________________________________
emp_title---The job title supplied by the Borrower when applying for the loan.*

emp_title
US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: count, Length: 28820, dtype: int64
____________________________________
issue_d---The month which the loan was funded

issue_d
Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
Jul-11    1870
Jun-11    1827
May-11    1689
Apr-11    1562
Mar-11    1443
Jan-11    1380
Feb-11    1297
Dec-10    1267
Oct-10    1132
Nov-10    1121
Jul-10    1119
Sep-10    1086
Aug-10    1078
Jun-10    1029
May-10     920
Apr-10     827
Mar-10     737
Feb-10     627
Nov-09     602
Dec-09     598
Jan-10     589
Oct-09     545
Sep-09     449
Aug-09     408
Jul-09     374
Jun-09     356
May-09     319
Apr-09     290
Mar-09     276
Feb-09     260
Jan-09     239
Mar-08     236
Dec-08     223
Nov-08     184
Feb-08     174
Jan-08     171
Apr-08     155
Oct-08      96
Dec-07      85
Jul-08      83
May-08      71
Aug-08      71
Jun-08      66
Oct-07      47
Nov-07      37
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: count, dtype: int64
____________________________________
url---URL for the LC page with listing data.

url
https://lendingclub.com/browse/loanDetail.action?loan_id=1077501    1
https://lendingclub.com/browse/loanDetail.action?loan_id=568534     1
https://lendingclub.com/browse/loanDetail.action?loan_id=568659     1
https://lendingclub.com/browse/loanDetail.action?loan_id=567165     1
https://lendingclub.com/browse/loanDetail.action?loan_id=568531     1
                                                                   ..
https://lendingclub.com/browse/loanDetail.action?loan_id=785667     1
https://lendingclub.com/browse/loanDetail.action?loan_id=785659     1
https://lendingclub.com/browse/loanDetail.action?loan_id=785630     1
https://lendingclub.com/browse/loanDetail.action?loan_id=785626     1
https://lendingclub.com/browse/loanDetail.action?loan_id=87023      1
Name: count, Length: 39717, dtype: int64
____________________________________
desc---Loan description provided by the borrower

desc
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           6
Personal Loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
  Borrower added on 05/13/11 > This loan is to partially finance a car. The payments will be very manageable for me.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
  Borrower added on 05/13/11 > I am consolidating my bills to make it cheaper on bills. I am up for a promotion at my job and have been here three years already. I also have a fiance that has a very reliable job who also helps with finances. My requirement is that all bills are paid on time if not early. This is to keep good standings with all businesses and keep a awesome credit score.<br/> Borrower added on 05/16/11 > I am asking for this loan to pay off bills with higher interest rates and have a lower payment every month.<br/>                                                                                                                                                                                                                                                                                     1
  Borrower added on 05/13/11 > Debt Consolidation<br/> Borrower added on 05/13/11 > I plan to use this money to consolidate bills with high monthly payments and improve cash flow.<br/> Borrower added on 05/13/11 > I have good credit and I have a very stable, solid and professional job that I have held for a long time - over 20 years.  I have a Bachelor's degree and I'm currently working on a masters.<br/> Borrower added on 05/13/11 > My mortgage and utilities run approx less than 2k per month including taxes.  I have sufficient income to pay off this loan. I simply want to take my open accounts and consolidate them into one easy payment.<br/>                                                                                                                                                                   1
  Borrower added on 05/16/11 > I plan on utilizing these funds to further boost my already great standing credit.<br/><br/>I am a good borrower as I have zero delinquencies and have had multiple loans all of which have been paid off in a timely manner.<br/><br/>My monthly budget is coordinated so that I have sufficient spending after all bills are paid.  In addition I leverage extra funding for savings should any unexpected situations occur.<br/><br/>My job is stable.  I have advanced over the past 3 years in the Accounting industry from a Junior Associate to a Regular Associate to a now Senior Associate on my way to becoming a Manager.  I have received multiple promotions and see this position as a long term career further motivating me to work and at the same time allowing me job security.<br/>      1
I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: count, Length: 26526, dtype: int64
____________________________________
title---The loan title provided by the borrower

title
Debt Consolidation                  2184
Debt Consolidation Loan             1729
Personal Loan                        659
Consolidation                        517
debt consolidation                   505
                                    ...
your rate is better than my rate       1
Concession Trailer                     1
gregs                                  1
EZover                                 1
JAL Loan                               1
Name: count, Length: 19615, dtype: int64
____________________________________
zip_code---The first 3 numbers of the zip code provided by the borrower in the loan application.

zip_code
100xx    597
945xx    545
112xx    516
606xx    503
070xx    473
        ...
381xx      1
378xx      1
739xx      1
396xx      1
469xx      1
Name: count, Length: 823, dtype: int64
____________________________________
addr_state---The state provided by the borrower in the loan application

addr_state
CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: count, dtype: int64
____________________________________
earliest_cr_line---The month the borrower's earliest reported credit line was opened

earliest_cr_line
Nov-98    370
Oct-99    366
Dec-98    348
Oct-00    346
Dec-97    329
         ...
Feb-66      1
Dec-61      1
Oct-54      1
Jun-72      1
Oct-74      1
Name: count, Length: 526, dtype: int64
____________________________________
revol_util---Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

revol_util
0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
25.74%      1
47.36%      1
24.65%      1
10.61%      1
7.28%       1
Name: count, Length: 1089, dtype: int64
____________________________________
last_pymnt_d---Last month payment was received

last_pymnt_d
May-16    1256
Mar-13    1026
Dec-14     945
May-13     907
Feb-13     869
          ...
Jun-08      10
Nov-08      10
Mar-08       5
Jan-08       4
Feb-08       1
Name: count, Length: 101, dtype: int64
____________________________________
last_credit_pull_d---The most recent month LC pulled credit for this loan

last_credit_pull_d
May-16    10308
Apr-16     2547
Mar-16     1123
Feb-13      843
Feb-16      736
          ...
May-08        1
Jun-08        1
Jul-08        1
May-07        1
Jul-07        1
Name: count, Length: 106, dtype: int64
-------------------Rejection stats------------------------

In [20]:
#too many values to add proper details for the benefit of our analysis for classification.
df=df.drop('addr_state',axis=1) # keeping it for the sake of identifying whom we can drop
df=df.drop('zip_code',axis=1)
df=df.drop('url',axis=1)
df=df.drop('title',axis=1)
df=df.drop('emp_title',axis=1)

#we do not need an individual classification of variables
df=df.drop('desc',axis=1)
df=df.drop("member_id",axis=1)
df=df.drop("id",axis=1)

#we do not need a subgrade too many classifications and grade level detail should be sufficient
df=df.drop('sub_grade',axis=1)

#too many values and not likely that a business would stop lending based on a month effecting its entire business
df=df.drop('last_pymnt_d',axis=1)
df=df.drop('issue_d',axis=1)
df=df.drop('earliest_cr_line',axis=1)
df=df.drop('last_credit_pull_d',axis=1)

In [21]:
catvarlist=[]
chkcatvarlist=[]
for columns in df:
    if df[columns].nunique()<20 and (df[columns].dtype=='object'):
        catvarlist.append(columns)
    elif df[columns].dtype=='object':
        chkcatvarlist.append(columns)

    
print(catvarlist)
print('\n'+'_______________________________________________________________')
print(chkcatvarlist)

['term', 'grade', 'emp_length', 'home_ownership', 'verification_status', 'loan_status', 'purpose']

_______________________________________________________________
['int_rate', 'revol_util']

In [22]:
for col in chkcatvarlist:
    for index,row in df2.iterrows():
            if row[0]==col:
                print("____________________________________"+"\n"+col+"---"+row[1]+"\n")
                print(df[col].value_counts())
                
print("-------------------Rejection stats------------------------")
for col in chkcatvarlist:
    for index,row1 in df3.iterrows():
            if row1[0]==col:
                print("____________________________________"+"\n"+col+"---"+row1[1]+"\n")
                print(df[col].value_counts())

____________________________________
int_rate---Interest Rate on the loan

int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: count, Length: 371, dtype: int64
____________________________________
revol_util---Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

revol_util
0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
25.74%      1
47.36%      1
24.65%      1
10.61%      1
7.28%       1
Name: count, Length: 1089, dtype: int64
-------------------Rejection stats------------------------

In [23]:
df.shape

(39717, 32)